.MuiButtonBase-root:focus {
  outline: none !important;
}

.chartsAndGraphs,
#compliance-dateChart {
  text-align: center;
  margin-top: 20px;
}

.subTab-header {
  color: black;
}

#compliance-dateChart {
  max-width: 90%;
  margin-left: 40px;
}

div > .Position-module_container__2OGTq {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  /* background: #22272b; */
  color: #22272b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* --color-background: #22272b; */
  --color-on-background: #22272b;
  --color-layer-transparent: rgba(0, 5, 11, 0.9);
  --color-surface: #2c343a;
  --color-primary: #67c2e4;
  --color-on-primary: #fff;
}
.chartsAndGraphs > .row {
  display: block;
}
